.grid {
    text-align: center;
    margin: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo logo"
        "counter counter"
        "faker fakenews"
        "footer footer";
    min-height: 100vh;

    .footer {
        grid-area: footer;
    }
    .logo {
        grid-area: logo;
        img {
            max-height: 100%;
        }
    }
    .faker {
        grid-area: faker;
    }
    .fakenews {
        grid-area: fakenews;
    }
    .counter {
        grid-area: counter;
    }
}

