$main-color: #DF645D;

.btn {
    background-color: $main-color;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.grid {
    box-sizing:border-box;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 100px auto 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "logo logo"
        "counter counter"
        "faker fakenews"
        "footer footer";
    height:100%;

    .footer {
        grid-area: footer;
    }
    .logo {
        grid-area: logo;
        img {
            max-height: 100%;
        }
    }
    .faker {
        grid-area: faker;
        div {
            display: flex;
            .name {
                padding-right: 10px;
                font-weight: bold;
            }
            .score {
                font-weight: 100;
            }
        }
        
    }
    .fakenews {
        grid-area: fakenews;
    }

    .faker, .fakenews {
        text-align: left;
    }
    .counter {
        grid-area: counter;
        h1 {
            font-size: 30pt;
            font-weight: 400;
            span {
                font-weight: bold;
                color: $main-color;
            }
        }
    }
}

