$main-color: #DF645D;

.btn {
    background-color: $main-color;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.grid {
    box-sizing:border-box;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 100px auto auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "logo logo"
        "counter counter"
        "faker fakenews"
        "footer footer";
    height:100%;
    width: 100%;

    @media only screen and (max-width: 600px) {
        grid-template-rows: 100px auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "counter"
            "faker" 
            "fakenews"
            "footer";
    }
    
    .footer {
        grid-area: footer;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo {
        grid-area: logo;
        img {
            max-height: 100%;
        }
    }
    .faker {
        grid-area: faker;
        div {
            display: flex;
            .name {
                padding-left: 10px;
                font-weight: bold;
            }
            .score {
                font-weight: 100;
            }
        }
        
    }
    .fakenews {
        grid-area: fakenews;
        div {
            display: flex;
            .title {
                padding-left: 10px;
            }
            .score {
                font-weight: 100;
            }    
        }

    }

    .faker, .fakenews {
        .title {
            display: flex;
            align-items: center;
            img {
                padding-right: 10px;
                width:  40px;
                height: 40px;
            }
        }
        text-align: left;
    }
    .counter {
        grid-area: counter;
        h1 {
            font-size: 30pt;
            font-weight: bold;
            span {
                font-weight: bold;
                color: $main-color;
            }
        }
    }
}

