<div class="grid">
  <div class="logo">
    <img src="/assets/logo.png" alt="">
  </div>
  <div class="counter">
    <h1> We Detected <span class="counter">{{counter}}</span> fake news </h1>
  </div>
  <div class="faker">
    <div class="title">
      <img src="/assets/fart.png" alt="">
      <h2>Top Fakers</h2>
    </div>
    <div *ngFor="let user of users">
      <div>
          <p class="score">{{Math.log(user.fake ) + 1 | number : '1.2-2'}}</p></div>
          <p class="name">{{user.username}}</p>
    </div>
  </div>
  <div class="fakenews">
      <div class="title">
          <img src="/assets/poopoo.png" alt="">
          <h2>Top Fake News</h2>
        </div>
        <div *ngFor="let fake of fakes">
      <p class="score">{{Math.log(fake.counter ) + 1 | number : '1.2-2'}}</p>
      <p class="title">{{fake.title}}</p>
    </div>

  </div>
  <div class="footer">
    <a class="btn" href="https://t.me/hackafakedemo"> Join the Group </a>
    <p> made with love in Turin - Droidcon Hackaton 2018 - <a href="https://github.com/SOLARMA/rokers-droidcon-hack/blob/master/HackAfakeFINALVERSION_VERA-ilovepdf-compressed%20(2).pdf">Download the Deck</a> - info at hackafake dot it</p>
    
  </div>
</div>